<#import "parts/common.ftl" as c>

<@c.page>
<div class="page-header">
    <h2>Добро пожаловать в сервис сообщений SERMES - service message</h2>
</div>

</br>
</br>Задание
</br>Необходимо реализовать сервис сообщений 
</br>
</br><strong>Структура</strong>
</br>
<ul>
    <li> Страница авторизации 
    <li> Страница регистрации 
    <li> Основная страница 
    <li> Страница администратора 
</ul>
</br>
</br><strong>Страница регистрации</strong>
<ul>
    <li> Поля для ввода: ФИО, email, логин, пароль (в случае, если пользователь уже существует, выводится сообщение об ошибке) 
    <li> Ссылка для перехода на главную страницу 
</ul>
</br><strong>Страница авторизации</strong>
<ul>
    <li> Поля для ввода: логина и пароля (в случае, если пользователь не найден, выводится сообщение об ошибке) 
    <li> Ссылка на страницу регистрации 
    <li> Кнопка вход  Основная страница (простой пользователь)
    <li> Список сообщений в табличной форме (От кого, дата ­ время, тема) 
    <li> Для администратора добавляется поле (кому) 
    <li> Возможность сортировки сообщений по полям таблицы 
    <li> Возможность удалить сообщение 
    <li> При клике по сообщению ­ открывать всплывающий диалог в том же окне с заголовками (Отправитель, Дата, Тема) и текстом сообщения 
    <li> Адресная книга (редактируемый [добавить­удалить] список именпользователей)с ссылкой (кнопкой) для отправки сообщения 
    <li> Ссылка и всплывающий диалог для смены пароля 
    <li> Для администратора добавляется ссылка ­ управление пользователями 
    <li> Ссылка для выхода 
</ul>
</br><strong>Страница администратора (управление пользователями)</strong>
<ul>
    <li> Список зарегистрированных пользователей (ФИО, email, login, role) 
    <li> Возможность добавить / удалить пользователя 
    <li> Возможность назначить / удалить права администратора 
    <li> Ссылка на главную страницу 
    <li> Предусмотреть, чтобы переход по ссылке на страницу администрирования был запрещен для обычных пользователей   
</ul>
</br><strong>Общие требования:</strong>
<ul>
    <li> Использование jsp, servlets, spring­mvc 
    <li> Кросс­браузерность IE 10,11, Firefox, Chrome, Opera 
    <li> Все данные хранятся в БД (предпочтительно Postgres) 
    <li> Работа с базой через Hibernate 
    <li> Наличие текстового логгирования 
    <li> Работа всплывающих диалогов через ajax 
    <li> Разделение ролей через spring­security 
</ul>
</br><strong>После реализации необходимо предоставить:</strong>
<ul>
    <li> Исходный код (можно просто архив с проектом) 
    <li> WAR­файл для развертывания проекта 
    <li> Внешние конфигурационные файлы (если используются) 
    <li> Схему БД (sql) 
    <li> Ссылку на развернутую версию портала (если возможно)   
</ul>
</@c.page>
